[package]
name = "ftdi-embedded-hal"
version = "0.9.1"
authors = ["Alex M. <alexmgit@protonmail.com>"]
description = "embedded-hal implementation for FTDI USB devices."
keywords = ["ftdi", "usb", "io", "hal"]
categories = ["embedded"]
edition = "2018"
license = "MIT"
repository = "https://github.com/ftdi-rs/ftdi-embedded-hal/"
documentation = "https://docs.rs/ftdi-embedded-hal"
readme = "README.md"

[features]
static = ["libftd2xx/static"]

[dependencies]
nb = "^1"
embedded-hal = "~0.2.4"
libftd2xx = "~0.32.0"

[dev-dependencies]
version-sync = "~0.9.2"

[badges]
maintenance = { status = "experimental" }
